<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://code.angularjs.org/1.6.2/angular.js"></script>
    <!-- By setting the version to snapshot (available for all modules), you can test with the latest master version -->
    <!--<script src="https://code.angularjs.org/snapshot/angular.js"></script>-->
    <script src="https://code.angularjs.org/1.6.2/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.6.2/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.6.2/angular-sanitize.js"></script>
</head>

<style>

    .gutter-top{
        margin-top:1em;
    }

    .gutter-bottom{
        margin-bottom:1em;
    }

    .gutter-right {
        margin-right:0.5em;
    }





</style>

<body>
<div ng-app="plunker">
    <div class="container" ng-controller="MainCtrl">
        <div class="row gutter-top">
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{statBlock.content}}</p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="statBlockSource"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{statBlock.selected?statBlock.selected:'Select a STATBLOCK_SOURCE'}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" ng-repeat="statBlock in statBlockNames"
                                   ng-click="selectStatBlock(statBlock)">{{statBlock}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{tag.content}}</p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="tagSource"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{tag.selected?tag.selected:'Select a TAG_SOURCE'}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" ng-repeat="tagName in tagNames"
                                   ng-click="selectTag(tagName)">{{tagName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item gutter-top" ng-repeat="additionalTag in tag.additionalTags">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Attr1"
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <input type="text" class="form-control" placeholder="Attr2"
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button" ng-click="removeTag(additionalTag)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="gutter-top">
            <button type="button" class="btn btn-primary gutter-right" ng-click="addTag()">Add Tag</button>
            <button type="button" class="btn btn-primary gutter-right" ng-click="randomTag()">Random Tag</button>
            <button type="button" class="btn btn-success" ng-click="applyTags()">Apply Tags</button>
        </div>
        <div class="gutter-top">
            <div class="card">
                <div class="card-header">Output</div>
                <div class="card-body">
                    <p class="card-text">{{result.content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('plunker', ['ngRoute', 'ngAnimate', 'ngSanitize']);

    app.controller('MainCtrl', function($scope) {
        $scope.tag = {
            selected:'',
            additionalTags:[]
        }
        $scope.tagNames = ['Duptie.md', 'Opptie.md'];
        //response
        $scope.tag.content = 'markdown for selected tag';

        $scope.statBlock = {
            selected:''
        }
        $scope.statBlockNames = ['dragon.md', 'sonka.md'];
        //response
        $scope.statBlock.content = 'markdown for selected stat block'

        $scope.result = {
            content:'biggest pizdets of my life'
        }

        $scope.selectTag = function(tag) {
            $scope.tag.selected = tag;
        }

        $scope.selectStatBlock = function(stat){
            $scope.statBlock.selected = stat;
        }

        $scope.addTag = function() {
            var additionalTag = {
                id: $scope.tag.additionalTags.length,
                attr1:'',
                attr2:'',
            };
            $scope.tag.additionalTags.push(additionalTag);
        }

        $scope.removeTag = function(additionalTag) {
            for(var i=0;i<$scope.tag.additionalTags.length;i++){
                if(additionalTag.id == $scope.tag.additionalTags[i].id){
                    $scope.tag.additionalTags.splice(i, 1);
                }
            }

        }

        $scope.applyTags = function(){

        }

    });

</script>
</body>

</html>