body {
}

.table {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    margin-top: 1rem;
}

textarea {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 300px;
    min-height: 480px;
    font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;
}

.tag-button {
    margin: .25rem;
    /*margin-left: .25rem;*/
    /*margin-right: .25rem;*/
    /*margin-bottom: .25rem;*/
}

.nav-item {
    border-left: solid 1px rgba(0,0,0,.1);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.md-preview {
    border: solid 2px rgba(0,0,0,.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    font-family: Cambria, sans-serif;
    background-color: rgba(250, 229, 205, 0.38);
    /*box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);*/

}

.md-preview ul {
    list-style-type: none;
    padding-left: 0;
}

.md-preview blockquote h4, .md-preview blockquote h3, .md-preview blockquote h2, .md-preview blockquote h1 {
    color: rgb(50, 163, 0);
    font-weight: normal;
    font-family: Calibri, Helvetica, sans-serif;
    border-bottom: solid 1px black;
}

.md-preview blockquote h2 {
    font-family: Cambria, serif;
    border-bottom: none;
    margin-bottom: 0;
}

.md-preview blockquote table thead tr th {
    padding-left: 1rem;
    padding-right: 1rem;
}

#tagTableDiv {
    margin-top: 1rem;
    padding-top: 0;
    min-height: 480px;
}

#tagTableDiv table {
    margin-top: 0;
}
