.header{
    background: rgba(89, 131, 102, 1) ;
    background-image:
            linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)),
            url("https://upload.wikimedia.org/wikipedia/commons/d/dd/Die_drei_Bogatyr.jpg");
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 5%;
    padding: 1rem;
    color: #f3f3f3;
    min-height: 200px;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fff4e2;
    color: black;
}

.btn-link:hover {
    color: #b4a628;
}

.dropdown-item:hover {
    background-color: #b4a628;
    background-image: none;
}

.table {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    margin-top: 1rem;
}

textarea {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 300px;
    min-height: 480px;
    font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;
}



.tag-button {
    margin: .25rem;
    /*margin-left: .25rem;*/
    /*margin-right: .25rem;*/
    /*margin-bottom: .25rem;*/
}

.nav-item>a {
    color: lightskyblue;
}

.nav-item {
    border-left: solid 1px rgba(255,255,255,.5);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
}

/*.jumbotron-fluid {*/
    /*background: url("../img/ice_man_serpent_moon.jpg") rgba(207, 255, 191, 0.34);*/
    /*border-radius: 7px;*/
    /*border: solid 2px rgba(0,0,0,.1);*/
/*}*/

.md-preview {
    border: solid 2px rgba(0,0,0,.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    font-family: Cambria, sans-serif;
    background-color: rgb(235, 255, 225);
    /*box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);*/

}

.md-preview ul {
    list-style-type: none;
    padding-left: 0;
}

.md-preview blockquote h4, .md-preview blockquote h3, .md-preview blockquote h2, .md-preview blockquote h1 {
    color: green;
    font-weight: normal;
    font-family: Calibri, Helvetica, sans-serif;
    border-bottom: solid 1px black;
}

.md-preview blockquote h2 {
    font-family: Cambria, serif;
    border-bottom: none;
    margin-bottom: 0;
}

.md-preview blockquote table thead tr th {
    padding-left: 1rem;
    padding-right: 1rem;
}

#tagTableDiv {
    margin-top: 1rem;
    padding-top: 0;
    min-height: 480px;
}

#tagTableDiv table {
    margin-top: 0;
}

.tag-table thead {
    background: #6e7285;
    color: #f3f3f3;
}

.md-preview hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #598366, rgba(0, 0, 0, 0));
}


.card {
}

.card .card-header {
    /*background: #f3f3f3;*/
    background: #598366;
}

.card-body {
    background: whitesmoke;
}

.btn {
    font-weight: bold;
}

.btn-block {
    margin-right: 1rem;
    margin-left: 1rem;
}

.btn-warning {
    background: #b6a745;
    color: #f3f3f3;
}

.btn-warning:hover {
    background: #b6a745;
}

.btn-link {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #f3f3f3;
}
input[type=number]{
    width: 3em;
}

.btn-primary:hover {

}

.dropdown-menu {
    color: #f3f3f3;
    background-color: #598366;
}

/*input[type=range]{*/
    /*-webkit-appearance: none;*/
/*}*/

/*input[type=range]::-webkit-slider-runnable-track {*/
    /*width: 300px;*/
    /*height: 5px;*/
    /*background: #ddd;*/
    /*border: none;*/
    /*border-radius: 3px;*/
/*}*/

/*input[type=range]::-webkit-slider-thumb {*/
    /*-webkit-appearance: none;*/
    /*border: none;*/
    /*height: 16px;*/
    /*width: 16px;*/
    /*border-radius: 50%;*/
    /*background: goldenrod;*/
    /*margin-top: -4px;*/
/*}*/

/*input[type=range]:focus {*/
    /*outline: none;*/
/*}*/

/*input[type=range]:focus::-webkit-slider-runnable-track {*/
    /*background: #ccc;*/
/*}*/

/*input[type=range]{*/
    /*!* fix for FF unable to apply focus style bug  *!*/
    /*border: 1px solid white;*/

    /*!*required for proper track sizing in FF*!*/
    /*width: 300px;*/
/*}*/

/*input[type=range]::-moz-range-track {*/
    /*width: 300px;*/
    /*height: 5px;*/
    /*background: #ddd;*/
    /*border: none;*/
    /*border-radius: 3px;*/
/*}*/

/*input[type=range]::-moz-range-thumb {*/
    /*border: none;*/
    /*height: 16px;*/
    /*width: 16px;*/
    /*border-radius: 50%;*/
    /*background: goldenrod;*/
/*}*/

/*!*hide the outline behind the border*!*/
/*input[type=range]:-moz-focusring{*/
    /*outline: 1px solid white;*/
    /*outline-offset: -1px;*/
/*}*/

/*input[type=range]:focus::-moz-range-track {*/
    /*background: #ccc;*/
/*}*/
/*input[type=range]::-ms-track {*/
    /*width: 300px;*/
    /*height: 5px;*/

    /*!*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead *!*/
    /*background: transparent;*/

    /*!*leave room for the larger thumb to overflow with a transparent border *!*/
    /*border-color: transparent;*/
    /*border-width: 6px 0;*/

    /*!*remove default tick marks*!*/
    /*color: transparent;*/
/*}*/
/*input[type=range]::-ms-fill-lower {*/
    /*background: #777;*/
    /*border-radius: 10px;*/
/*}*/
/*input[type=range]::-ms-fill-upper {*/
    /*background: #ddd;*/
    /*border-radius: 10px;*/
/*}*/
/*input[type=range]::-ms-thumb {*/
    /*border: none;*/
    /*height: 16px;*/
    /*width: 16px;*/
    /*border-radius: 50%;*/
    /*background: goldenrod;*/
/*}*/
/*input[type=range]:focus::-ms-fill-lower {*/
    /*background: #888;*/
/*}*/
/*input[type=range]:focus::-ms-fill-upper {*/
    /*background: #ccc;*/
/*}*/
/*#font-1-size::-webkit-slider-thumb*/
/*{*/
    /*-webkit-appearance: none !important;*/
    /*background: #666;*/
    /*height: 10px;*/
    /*width: 10px;*/
    /*cursor: pointer;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
/*}*/