<!DOCTYPE html>
<html>

<head>
  <meta content="width=device-width, initial-scale=1.0;" name="viewport">
  <meta content="true" name="HandheldFriendly"/>
  <meta content="320" name="MobileOptimized"/>
  <meta charset="UTF-8">
  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet">
  <link href="../static/css/index.css" rel="stylesheet">
  <title>Wheel of Creation</title>
</head>

<body>
<div class="header align-center container-fluid text-center align-middle">
  <div class="row align-middle h-100 align-self-center align-items-center" style="">
    <div
        class="col align-self-center align-middle h-100 d-flex justify-content-center flex-column h-100 align-self-center align-items-center">
      <!--<img src="../static/img/woc2.png"-->
      <!--style="margin: 0 auto; text-align: center; width: 100%; max-width: 700px; vertical-align: middle; padding-top: 10px; padding-bottom: 10px"-->
      <!--class="align-middle">-->
      <div id="spinnerLogo">
        <img class="image-spin logo" src="../static/img/woc_map_layer1.png">
        <img class="image-spin2 logo" src="../static/img/woc_map_layer2.png">
        <img class="image-spin3 logo" src="../static/img/woc_map_layer3.png">
        <img class="logo-title" src="../static/img/woc3.png">
      </div>
      <p class="lead" style=" ">A caravanning and monster-hunting
        supplement for <i class="fas fa-dragon" style="color: red"></i> 5th Edition.</p>
    </div>
  </div>
</div>
<div id="mainContent">
  <div id="whatIsWoCContainer">
    <div class="container">
      <div class="row">
        <div class="col-12 justify-content-center" id="whatIsWoC">
          <ul class="nav nav-tabs " id="myTab" role="tablist">
            <li class="nav-item tab">
              <a aria-controls="overview" aria-selected="true" class="nav-link active " data-toggle="tab"
                 href="#overview"
                 id="overview-tab"
                 role="tab">Overview</a>
            </li>
            <li class="nav-item tab">
              <a aria-controls="rules" aria-selected="false" class="nav-link" data-toggle="tab" href="#rules"
                 id="rules-tab"
                 role="tab">Rules</a>
            </li>
            <li class="nav-item tab">
              <a aria-controls="setting" aria-selected="false" class="nav-link" data-toggle="tab" href="#setting"
                 id="setting-tab"
                 role="tab">Setting</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div aria-labelledby="overview-tab" class="tab-pane fade show active" id="overview" role="tabpanel">
              <p>The Wheel of Creation is a third-party setting and rules supplement for the 5th Edition Open Gaming
                License. It
                portrays a world of grassy steppe, oasis cities, icy forests, and caravans which travel across it and to
                worlds
                beyond. Players play as <em>God-Hunters</em>, groups of adventurers who guide, protect, and fuel these
                caravans for
                wealth, renown, and the safety and prosperity of the world.</p>

              <h3 id="theproducts">The Products</h3>

              <p>The current plan is that there will be three products associated with the first release of the Wheel of
                Creation.</p>

              <ol>
                <li>A free PDF which contains caravanning and monster creation rules, a brief introduction to the
                  setting,
                  a
                  subset of
                  additional race, class, and background options, and a handful of pre-written caravan destinations
                  within
                  the Wheel
                  of Creation setting.
                </li>

                <li>A paid PDF with additional art, additional race and class options, full item creation rules, and
                  additional
                  setting description and pre-written caravan destinations.
                </li>

                <li>Web companion apps, including:
                  <ul>
                    <li>The <strong>Monster Builder</strong>, currently in development at <a
                        href="/monster" target="_blank">wheelofcreation.net/monster</a>. This tool helps you quickly
                      generate and scale
                      the difficulty of monsters that fit the WoC setting, and it
                      provides a list of harvestable components for each to be used in the Item Crafter. It's nearly
                      feature complete, and the current
                      focus is on adding content, ironing out bugs, and adjusting game balance.
                    </li>
                    <li>The <strong>Caravan Manager</strong>, a system for itinerant adventure. First version just
                      released at <a href="/caravan_app" target="_blank">wheelofcreation.net/caravan_app</a>!
                    </li>
                    <li>The <strong>Item Crafter</strong>, still early in development.</li>
                  </ul>
                </li>
              </ol>
            </div>
            <div aria-labelledby="rules-tab" class="tab-pane fade" id="rules" role="tabpanel">
              <p>The Wheel of Creation is designed for compatibility with the 5th Edition SRD, with a few adjustments:
              <ul>
                <li>PCs usually don't need to worry about small-scale (<50gp) purchases or managing their personal
                  encumbrance.
                </li>
                <li>Many mechanics occur on the scale of weeks, so long rests take one week, and short rests take eight
                  hours.
                </li>
                <li>Alignment, language, and experience are different.</li>
              </ul>

              In addition, the intended flow of gameplay is a specific structure of
              Expeditions, each of
              which
              are expected
              to take about 6 game sessions and take a few months of in-game time: </p>

              <ul>
                <li>Players choose a destination and decide the initial composition of the caravan under their shared
                  protection.
                </li>

                <li>The GM decides what places and obstacles they will encounter along the way, aided by systems
                  and tables provided in the caravan rules.
                </li>

                <li>Throughout the Expedition, players use their skills and connections to learn more about what lies
                  ahead
                  and
                  prepare accordingly.
                </li>

                <li>Among other hazards, the caravan will be faced with monster raids, bandit attacks, harsh weather,
                  and distances that drain the caravan's supplies.
                  The players must support the caravan, and the caravan supports them.
                </li>

                <li>At times, the caravan will be unable to progress until the seasons turn or the players may decide to
                  halt of their
                  own accord. They can use this time to solve problems for the locals, trade, gather information,
                  craft items, and explore the area in
                  search for
                  specific monsters.
                </li>

                <li>At the end of the Expedition, the players are rewarded according to how well their caravan fared and
                  what
                  treasures they were able to gather along the way.
                </li>

                <li>The players choose a new destination.</li>
              </ul>

              <p>There are systems for generating monsters randomly (or not) using a system of tags, creating creatures
                which are
                fresh for both the players and GM. The players will need to consult with locals and experts, dig through
                dusty
                scrolls, and use their skills and magical abilities to determine the capabilities, behaviors, and
                weaknesses
                of these
                monsters in order to defeat them. A system for creating magical items using treasures and parts looted
                from
                these
                monsters will also be provided.</p>
            </div>
            <div aria-labelledby="setting-tab" class="tab-pane fade" id="setting" role="tabpanel">
              <p>The Wheel is a flat disk floating in a void of shadowy chaos, divided into three rings which turn about
                an
                axle. The
                axle is called <strong>Heaven</strong>, where sits the Celestial Throne of the Sun. </p>

              <p>The innermost ring is called the <strong>Ring of Earth</strong>, which most closely resembles our own
                world. The next
                ring is called the <strong>Ring of Seasons</strong>, where float shifting islands inhabited by alien
                creatures, most
                serving one of four Seasonal Courts. Its turning relative to Earth measures out the year. The outer ring
                is
                called the
                <strong>Ring of Stars</strong>, where mind, soul, and body are undivided. Its turning measures out the
                ages,
                and there
                Heaven stations its most trusted champions to repel the <strong>Void</strong>.</p>

              <p>Most of the Ring of Earth belongs to one great landmass, and sea travel is limited by brutal storms and
                malevolent
                sea serpents. To the far north are the Glistening Walls of Heaven, which sit at the end of a great
                expanse
                of ice. At
                the southern end of the world are the Ephemeral Wastes, an enormous, scorching desert which is dotted
                with
                the Ring of
                Earth's largest gateways to the Ring of Seasons.</p>

              <h4 id="humanandothercultures">Human and Other Cultures</h4>

              <p>There are four human supercultures on the primary landmass of Ring of Earth. <strong>Talbarans</strong>
                are
                primarily
                nomadic
                shepherds which inhabit the great steppe at the Ring of Earth's center. <strong>Pravyans</strong>
                survive
                as
                farmers
                and hunters in the frozen forests of the northeast. <strong>Riyulans</strong> dwell in the mountainous
                region in the
                south, divided into a brutal desert, expansive plateau, and an isolated rainforest. In the hilly
                grasslands
                to
                the
                southeast is the <strong>Azadan</strong> Empire, which controls the only land route to the Wastes.
                Formerly,
                the
                Empire of Lei occupied the southwest, but now there are only haunted ruins.</p>

              <p><strong>Elves</strong> are a people displaced. Formerly psionic warriors inhabiting Ring of Stars.
                Their
                forms are
                naturally malleable, and they have quickly adapted to life in the Ring of Seasons and Ring of Earth.
                <strong>Dwarves</strong> are beings blessed by and in service to the elements, who dwell throughout
                Earth.
                <strong>Blins</strong>,
                including goblins and gnomes, are outcasts of the Courts of the Ring of Seasons.
                <strong>Scaleborn</strong>,
                including
                naga and dragonborn, are the descendants of the Scaled Gods, who were first to rule over the Earth.
                <strong>Velniki</strong> are horned giants renowned for their strength and unwavering faith in the
                Architect,
                dwelling in the
                mountains between Talbara and Prav. <strong>Daevakin</strong>, or tieflings, are the offspring of humans
                and
                wicked
                daeva.</p>

              <h4 id="monsters">Monsters</h4>

              <p><strong>Fey</strong> are creatures from the Ring of Seasons, many of which serve the Courts of Spring,
                Summer,
                Autumn, and Winter. Each has supernatural abilities and alien desires. <strong>Kostlyavtsi</strong> are
                intelligent
                undead humans wielding foul sorceries and collectively working towards some unknown purpose. </p>

              <p><strong>Tuguai</strong> are decaying constructs of terra cotta and stone, animated by clockwork and
                magic
                and built
                to hunt spellcasters. <strong>Daevas</strong> are manifestations of evil which drive mortals to
                destruction,
                feeding
                on their anger, sorrow, hatred, and, ultimately, their souls. <strong>Skaryid</strong> are inhabitants
                of
                the Ring of
                Stars, Heaven's failed creations, corrupted by the Void.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="resourcesContainer">
    <div class="container border-top">
      <div class="row " style="margin: 0; padding-bottom: 0">
        <div class="col text-center text-white" style="margin: 0">
          <h2 style="margin-top: 0; padding: 0">Resources</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header text-white" style="background-color: #62888C"><i class="fas fa-wrench card-icon"></i>
              Monster Builder</h5>
            <div class="card-body">
              <!--<h5 class="card-title">Generate creatures using WoC's tag system</h5>-->
              <p class="card-text">An online application for creating new monster statblocks for 5e. In active
                development and updated
                regularly.</p>
            </div>
            <div class="card-links">
              <a class="btn btn-warning" href="/monster" target="_blank">Build some monsters!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header text-white" style="background-color: #57345a"><i class="fas fa-wrench card-icon"></i>
              Caravan Builder</h5>
            <div class="card-body">
              <!--<h5 class="card-title">Generate creatures using WoC's tag system</h5>-->
              <p class="card-text">A system for itinerant adventure.</p>
            </div>
            <div class="card-links">
              <a class="btn btn-warning" href="/caravan_app" target="_blank">Take a journey!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header text-white" style="background-color: #d48183"><i
                class="fas fa-palette card-icon"></i> Christina Weinman's Sketches</h5>
            <div class="card-body">
              <!--<h5 class="card-title">Generate creatures using WoC's tag system</h5>-->
              <p class="card-text">Most art created for the Wheel of Creation is being released under CC BY,
                meaning anyone can use it with appropriate attribution! Check out these pieces from Christina
                Weinman.</p>
            </div>
            <div class="card-links">
              <a class="btn btn-warning"
                 href="https://www.deviantart.com/cweinmanart/art/Wheel-of-Creation-Spring-Fey-Monster-793092105"
                 target="_blank">Spring Fey</a>
              <a class="btn btn-warning"
                 href="https://www.deviantart.com/cweinmanart/art/Wheel-of-Creation-Autumn-Fey-Monster-793091613"
                 style="" target="_blank">Autumn Fey</a>
              <a class="btn btn-warning"
                 href="https://www.deviantart.com/cweinmanart/art/Wheel-of-Creation-Kostlyavet-and-Mount-802484981"
                 target="_blank">Kostlyavets</a>
              <a class="btn btn-warning"
                 href="https://www.deviantart.com/cweinmanart/art/Wheel-of-Creation-Female-Velnik-795714341"
                 target="_blank">Velnik 2</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}

</body>
</html>
